html,
body {
    overflow: hidden;
}

.chatBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    height: 92vh;
    padding: 0px;
    background-color: rgb(209, 219, 255);
    /* background-color: rgb(239, 239, 239); */
}
.chatTitle {
    font-weight: 500;
}

.navbar {
    display: flex;

}

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}

.hideScroll {
    overflow-y: scroll;
    /* scrollbar-width: none; */
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar {
   display: none;
}

.chatBg {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/cf/14/0d/cf140dac517f37fc801b6b91aaf76fea.png");
    background-size: cover;
}

.removeAll {
    position: relative;
    left: 60%;
    overflow-x: hidden;
    font-size: small;
    border-radius: 20px;
    margin: 10px;
}
@media (max-width: 500px) {
    .removeAll {
        left: 45%;
    }
}

.time {
    margin-left: auto !important;
    font-size: 10px;
    color: rgb(65, 63, 63);
    position: relative;
    left: 11px;
    bottom: 4px;
}

.smTime {
    font-size: 10px;
    color: rgb(65, 63, 63);
    position: relative;
    left: 7px;
    top: 7px;
}

.timeInChat {
    margin-left: auto;
    font-size: small;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(81, 81, 81);
    
}

.badge {
    position: relative;
    right: 13px;
    bottom: 10px;
    border-radius: 50% !important;
    font-size: 10px !important;
    background-color: rgb(245, 101, 101) !important;
    color: white !important;
    padding: 1px 6px !important;
}

.passBox {
    display: flex;
    justify-content: space-between;
}

.msgBox {
    background: white;
    border-radius: 15px;
}
.msgImage {
    margin-top: 0.7rem;
    width: 1.5rem;
    height: 1rem;
}

